{% load staticfiles %}

<!-- Header -->
<header id="header">
    <div class="logo">
        <a href="{% url 'all-questions-home' %}" class="hidden-xs">
            EduCloud
            <small>Learning has never been simpler</small>
        </a>
        <i class="logo__trigger zmdi zmdi-menu" data-mae-action="block-open" data-mae-target="#navigation"></i>
    </div>

    <ul class="top-menu">
        <li class="top-menu__trigger hidden-lg hidden-md">
            <a href=""><i class="zmdi zmdi-search"></i></a>
        </li>

        <li class="top-menu__apps dropdown hidden-xs hidden-sm">
            <a href="#">
                <button class="btn btn-primary">Ask Question</button>
            </a>
        </li>
        <li class="dropdown hidden-xs">
            <a data-toggle="dropdown" href=""><i class="zmdi zmdi-more-vert"></i></a>
            <ul class="dropdown-menu dropdown-menu--icon pull-right">
                <li class="hidden-xs">
                    <a data-mae-action="fullscreen" href=""><i class="zmdi zmdi-fullscreen"></i> Toggle
                        Fullscreen</a>
                </li>
                <li>
                    <a data-mae-action="clear-localstorage" href=""><i class="zmdi zmdi-delete"></i>
                        Clear Local Storage</a>
                </li>
                <li>
                    <a href=""><i class="zmdi zmdi-face"></i> Privacy Settings</a>
                </li>
                <li>
                    <a href=""><i class="zmdi zmdi-settings"></i> Other Settings</a>
                </li>
            </ul>
        </li>
        <li class="top-menu__alerts" data-mae-action="block-open" data-mae-target="#notifications" data-toggle="tab"
            data-target="#notifications__messages">
            <a href=""><i class="zmdi zmdi-notifications"></i></a>
        </li>
        <li class="top-menu__profile dropdown">
            <a data-toggle="dropdown" href="">
                <img src="{% static 'demo/img/profile-pics/1.jpg' %}" alt="">
            </a>

            <ul class="dropdown-menu pull-right dropdown-menu--icon">
                <li>
                    <a href="{% static 'profile-about.html' %}"><i class="zmdi zmdi-account"></i> View Profile</a>
                </li>
                <li>
                    <a href=""><i class="zmdi zmdi-input-antenna"></i> Privacy Settings</a>
                </li>
                <li>
                    <a href=""><i class="zmdi zmdi-settings"></i> Settings</a>
                </li>
                <li>
                    <a href=""><i class="zmdi zmdi-time-restore"></i> Logout</a>
                </li>
            </ul>
        </li>
    </ul>

    <form class="top-search">
        <input type="text" class="top-search__input" placeholder="Search for people, files & reports">
        <i class="zmdi zmdi-search top-search__reset"></i>
    </form>
</header>