{% load staticfiles %}

<!-- Header -->
<header id="header">
    <div class="logo">
        <a href="{% url 'all-questions' %}" class="hidden-xs">
            EduCloud
            <small>Learning has never been simpler</small>
        </a>
        <i class="logo__trigger zmdi zmdi-menu" data-mae-action="block-open" data-mae-target="#navigation"></i>
    </div>

    <ul class="top-menu">
        <li class="top-menu__trigger hidden-lg hidden-md">
            <a href=""><i class="zmdi zmdi-search"></i></a>
        </li>

        <li class="top-menu__apps dropdown hidden-xs hidden-sm">
            <a href="{% url 'ask-question' %}">
                <button class="btn btn-primary">Ask Question</button>
            </a>
        </li>
        <li class="dropdown hidden-xs">
            <a data-toggle="dropdown" href=""><i class="zmdi zmdi-more-vert"></i></a>
            <ul class="dropdown-menu dropdown-menu--icon pull-right">
                <li>
                    <a href="{% url 'user-profile' logged_in_user.id %}">
                        <i class="zmdi zmdi-account"></i> View Profile
                    </a>
                </li>
                <li>
                    <a href=""><i class="zmdi zmdi-settings"></i> Settings</a>
                </li>
                <li>
                    <a href="{% url 'user-questions' logged_in_user.id %}"><i
                            class="zmdi zmdi-assignment"></i> My Questions</a>
                </li>
                <li>
                    <a href="{% url 'user-answers' logged_in_user.id %}"><i class="zmdi zmdi-check-all"></i> My Answers</a>
                </li>
                <li>
                    <a href="javascript: {document.getElementById('logout').submit()}">
                        <i class="zmdi zmdi-time-restore"></i> Logout
                    </a>
                    <form id="logout" method="post" action="{% url 'user-logout' %}">
                        {% csrf_token %}
                        <input type="hidden">
                    </form>
                </li>
            </ul>
        </li>
        <li class="top-menu__alerts" data-mae-action="block-open" data-mae-target="#notifications" data-toggle="tab"
            data-target="#notifications__messages">
            <a href=""><i class="zmdi zmdi-notifications"></i></a>
        </li>
        <li class="top-menu__profile">
            <a>
                <img src="{{ logged_in_user.picture.url }}" alt="">
            </a>
        </li>
    </ul>

    <form class="top-search" method="get" action="{% url 'search-question' %}">
{#        {% csrf_token %}#}
        <input type="text" name="question" class="top-search__input" placeholder="Search for questions">
        <i class="zmdi zmdi-search top-search__reset"></i>
    </form>
</header>
