{% extends 'base.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}

    <div id="content">
        <div class="content__header">
            <h3>{{ header }}
                <br>
                <small>List of questions</small>
            </h3>
        </div>
    </div>



    <ul>
        {% for question in questions %}

            <div class="card">
                <div class="card__header">
                    <a href="{% url 'question' question.id %}">
                        <h3>{{ question.name }}</h3>
                    </a>
                    <div class="actions">
                        <a style="cursor: pointer;" onclick="upvote({{ question.id }})">
                            {% if question.id in questions_upvoted %}
                                <i class="fas fa-chevron-circle-up" style="color: #4caf50;"></i>
                            {% else %}
                                <i class="fas fa-chevron-up" style="color: #4caf50;"></i>
                            {% endif %}
                        </a>

                        <a><font color="white" id="votes{{ question.id }}">{{ question.votes }}</font></a>

                        <a style="cursor: pointer;" onclick="downvote({{ question.id }})">
                            {% if question.id in questions_downvoted %}
                                <i class="fas fa-chevron-circle-down" style="color: #ef5350;"></i>
                            {% else %}
                                <i class="fas fa-chevron-down" style="color: #ef5350;"></i>
                            {% endif %}
                        </a>

                    </div>

                    <div class="list-group">
                        <a href="{% url 'user-profile' question.user.id %}" class="list-group-item media">
                            <div class="pull-left">
                                <img src="{{ question.user.picture.url }}" class="avatar-img">
                            </div>
                            <div class="media-body list-group__text">
                                <div class="list-group__heading">by <u>{{ question.user.name }}</u>
                                    {% if question.user.user_type == 'P' %}
                                        <button class="btn btn-default"> Professor</button>
                                    {% endif %}
                                </div>
                                <small class="list-group__text">
                                    on {{ question.timestamp }}
                                </small>
                            </div>
                        </a>
                    </div>

                    <br><br>

                    <a href="{% url 'department-question' question.subject.department.short_form %}"
                       class="btn btn-default">
                        {{ question.subject.department.icon | safe }}&nbsp;{{ question.subject.department.name }}
                    </a>

                    <a href="{% url 'subject-question' question.subject.code %}"
                       class="btn btn-primary">
                        {{ question.subject }}
                    </a>
                    <br>
                </div>

                <div class="card__body" style="font-size: 15px">
                    {{ question.body | safe }}
                </div>

                <div class="card__footer">
                    <a class="btn btn-default" style="float: left;" href="{% url 'question' question.id %}">
                        <i class="fas fa-comments"></i>&nbsp; {{ question.answers | length }}
                        answers
                    </a>
                    <a class="btn btn-info" href="{% url 'question' question.id %}"><i
                            class="fas fa-external-link-square-alt"></i>&nbsp; View</a>
                    {% if question.id in user_questions %}
                        <a class="btn btn-warning" href=""><i class="fas fa-edit"></i>&nbsp; Edit</a>
                        <a class="btn btn-danger" href=""><i class="fas fa-trash-alt"></i>&nbsp; Delete</a>
                    {% endif %}
                    <a class="btn btn-success" href="{% url 'question' question.id %}"><i
                            class="fas fa-comment-alt"></i>&nbsp; Answer</a>
                </div>
            </div>
        {% endfor %}
    </ul>


    <script>
        upvote = (question_id) => {
            fetch('http://127.0.0.1:8000/question/question-vote/', {
                method: 'post',
                body: JSON.stringify({
                    question_id: question_id,
                    vote_type: 'U'
                })
            }).then(res => res.json())
                .then(res => {
                    document.getElementById(`votes${question_id}`).innerText = res.votes;
                });
        };

        downvote = (question_id) => {
            fetch('http://127.0.0.1:8000/question/question-vote/', {
                method: 'post',
                body: JSON.stringify({
                    question_id: question_id,
                    vote_type: 'D'
                })
            }).then(res => res.json())
                .then(res => {
                    document.getElementById(`votes${question_id}`).innerText = res.votes;
                });
        };


        function notify(message, type) {
            $.notify({
                message: message
            }, {
                type: type,
                allow_dismiss: true,
                label: 'Cancel',
                className: 'btn-xs btn-default',
                placement: {
                    from: 'top',
                    align: 'right'
                },
                delay: 4000,
                animate: {
                    enter: 'animated flipInX',
                    exit: 'animated flipOutX'
                },
                offset: {
                    x: 30,
                    y: 30
                }
            });
        }

        notifyAll = () => {
            {% for message in messages %}
                notify('{{ message }}  ', 'danger');
            {% endfor %}
        };

    </script>
{% endblock %}
