{% extends 'base.html' %}

{% block title %}
    {{ question.name }}
{% endblock %}

{% block content %}

    <div id="content">
        <div class="content__header">
            <h3>{{ question.name }}
                <br>
                <small>List of answers</small>
            </h3>
        </div>
    </div>



    <ul>
        <div class="card">
            <div class="card__header">
                <h1>{{ question.name }}</h1>
                <div class="actions">
                    <a style="cursor: pointer;" onclick="upvote({{ question.id }})">
                        {% if question.id in questions_upvoted %}
                            <i class="fas fa-chevron-circle-up" style="color: #4caf50;"></i>
                        {% else %}
                            <i class="fas fa-chevron-up" style="color: #4caf50;"></i>
                        {% endif %}
                    </a>

                    <a><font color="white" id="votes{{ question.id }}">{{ question.votes }}</font></a>

                    <a style="cursor: pointer;" onclick="downvote({{ question.id }})">
                        {% if question.id in questions_downvoted %}
                            <i class="fas fa-chevron-circle-down" style="color: #ef5350;"></i>
                        {% else %}
                            <i class="fas fa-chevron-down" style="color: #ef5350;"></i>
                        {% endif %}
                    </a>

                </div>

                <small>by <a href="" class="btn-link"><u>{{ question.user.name }}</u></a>
                    on {{ question.timestamp }}
                </small>

                <br><br>

                <a href="{% url 'department-question' question.subject.department.short_form %}"
                   class="btn btn-default">
                    {{ question.subject.department.icon | safe }}&nbsp;{{ question.subject.department.name }}
                </a>

                <a href="{% url 'subject-question' question.subject.code %}"
                   class="btn btn-primary">
                    {{ question.subject.code }}
                </a>
                <br>
            </div>

            <div class="card__body" style="font-size: 16px">
                {{ question.body }}
            </div>

            <div class="card__footer">
                <p class="btn btn-default" style="cursor: default;"><i
                        class="fas fa-comments"></i>&nbsp; {{ question.answers | length }} answers</p>
            </div>
        </div>


        <div class="card">
            {#            <div class="card__header">#}
            {#                <h1>Write your answer here</h1>#}
            {#            </div>#}

            <form action="{% url 'question' question.id %}" method="post">

                {% csrf_token %}

                <div class="card__body">
                    <div class="form-group">
                    <textarea name="answer" class="form-control textarea-autosize" rows="3" style="font-size: 18px"
                              placeholder="Start writing your answer here!"></textarea>
                        <i class="form-group__bar"></i>
                    </div>
                </div>

                <div class="card__footer">
                    <button type="submit" class="btn btn-success btn-lg">Post</button>
                </div>

            </form>
        </div>

        {% for answer in answers %}

            <div class="card">
                <div class="card__header">
                    <div class="actions">
                        <a style="cursor: pointer;" onclick="upvote_a({{ answer.id }})">
                            {% if answer.id in answers_upvoted %}
                                <i class="fas fa-chevron-circle-up" style="color: #4caf50;"></i>
                            {% else %}
                                <i class="fas fa-chevron-up" style="color: #4caf50;"></i>
                            {% endif %}
                        </a>

                        <a><font color="white" id="votes_a_{{ answer.id }}">{{ answer.votes }}</font></a>

                        <a style="cursor: pointer;" onclick="downvote_a({{ answer.id }})">
                            {% if answer.id in answers_downvoted %}
                                <i class="fas fa-chevron-circle-down" style="color: #ef5350;"></i>
                            {% else %}
                                <i class="fas fa-chevron-down" style="color: #ef5350;"></i>
                            {% endif %}
                        </a>

                    </div>

                    <small>by <a href="{% url 'user-profile' answer.user.id %}"
                                 class="btn-link"><u>{{ answer.user.name }}</u></a>
                        on {{ answer.timestamp }}
                    </small>
                    <br>
                </div>

                <div class="card__body" style="font-size: 15px">
                    {{ answer.body }}
                </div>

                <div class="card__footer">
                    {% if answer.id in user_answers %}
                        <a class="btn btn-default"><i class="fas fa-edit"></i>&nbsp;&nbsp;Edit&nbsp;&nbsp;</a>
                        <a class="btn btn-danger"><i class="fas fa-trash-alt"></i>&nbsp; Delete</a>
                    {% endif %}
                </div>
            </div>

        {% endfor %}
    </ul>


    <script>

        autosize($('.textarea-autosize'));


        upvote = (question_id) => {
            console.log('bhai upvote dicchi!!' + question_id);
            fetch('http://127.0.0.1:8000/question/question-vote/', {
                method: 'post',
                body: JSON.stringify({
                    question_id: question_id,
                    vote_type: 'U'
                })
            }).then(res => res.json())
                .then(res => {
                    document.getElementById(`votes${question_id}`).innerText = res.votes;
                });
        };

        downvote = (question_id) => {
            console.log('bhai upvote dicchi!!' + question_id);
            fetch('http://127.0.0.1:8000/question/question-vote/', {
                method: 'post',
                body: JSON.stringify({
                    question_id: question_id,
                    vote_type: 'D'
                })
            }).then(res => res.json())
                .then(res => {
                    document.getElementById(`votes${question_id}`).innerText = res.votes;
                });
        };


        upvote_a = (answer_id) => {
            fetch('http://127.0.0.1:8000/question/answer-vote/', {
                method: 'post',
                body: JSON.stringify({
                    answer_id: answer_id,
                    vote_type: 'U'
                })
            }).then(res => res.json())
                .then(res => {
                    document.getElementById(`votes_a_${answer_id}`).innerText = res.votes;
                });
        };

        downvote_a = (answer_id) => {
            fetch('http://127.0.0.1:8000/question/answer-vote/', {
                method: 'post',
                body: JSON.stringify({
                    answer_id: answer_id,
                    vote_type: 'D'
                })
            }).then(res => res.json())
                .then(res => {
                    document.getElementById(`votes_a_${answer_id}`).innerText = res.votes;
                });
        };

        function notify(message, type) {
            $.notify({
                message: message
            }, {
                type: type,
                allow_dismiss: true,
                label: 'Cancel',
                className: 'btn-xs btn-default',
                placement: {
                    from: 'top',
                    align: 'right'
                },
                delay: 4000,
                animate: {
                    enter: 'animated flipInX',
                    exit: 'animated flipOutX'
                },
                offset: {
                    x: 30,
                    y: 30
                }
            });
        }

        notifyAll = () => {
            {% for message in messages %}
                notify('{{ message }}  ', 'danger');
            {% endfor %}
        };

    </script>
{% endblock %}





<h1>{{ this_question.name }}</h1>

<p>{{ this_question.body }}</p>

<p>Asked by {{ user.name }} [{{ user.reputation }}]</p>
