absl-py==0.7.1
astor==0.7.1
bert-serving-client==1.9.1
bert-serving-server==1.9.1
Django==2.2.1
gast==0.2.2
GPUtil==1.4.0
grpcio==1.20.1
h5py==2.9.0
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
Markdown==3.1
mock==3.0.5
numpy==1.16.3
Pillow==6.0.0
protobuf==3.7.1
pytz==2019.1
pyzmq==18.0.1
six==1.12.0
sqlparse==0.3.0
tensorboard==1.13.1
tensorflow==1.15.0
tensorflow-estimator==1.13.0
termcolor==1.1.0
Werkzeug==0.15.4
