{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}
    {{ user.first_name }}
{% endblock %}


{% block content %}

    <section id="content">
        <div class="content--boxed-sm">
            <header class="content__header">
                <h3>
                    {{ user.name }}<br>
                    <small>{{ user.department.name }}</small>
                </h3>
            </header>

            <div class="card profile p-10">
                <div class="profile__img">
                    <img src="{{ user.picture.url }}" alt="">

                    <a href="" class="zmdi zmdi-camera profile__img__edit"></a>
                </div>

                <div class="profile__info">
                    <p>I am a student of {{ user.department.name }} year {{ user.year }}.
                    <ul class="icon-list">
                        <li><i class="zmdi zmdi-phone"></i> {{ user.phone1 }}</li>
                        <li><i class="zmdi zmdi-email"></i> {{ user.email_id }}</li>
                        <li><i class="fas fa-medal"></i> {{ user.reputation }}</li>
                    </ul>
                </div>
            </div>

            <a href="{% url 'user-questions' user.id %}">
                <div class="action-header action-header--card">
                    <ul class="action-header__menu">
                        <li>Questions</li>
                    </ul>
                </div>
            </a>

            <a href="{% url 'user-answers' user.id %}">
                <div class="action-header action-header--card">
                    <ul class="action-header__menu">
                        <li>Answers</li>
                    </ul>
                </div>
            </a>
        </div>
    </section>

{% endblock %}